@keyframes ldio-chj0s5swqsk {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-chj0s5swqsk div {
    left: 40%;
    top: 10%;
    position: absolute;
    animation: ldio-chj0s5swqsk linear 1.2195121951219512s infinite;
    background: #165262;
    width: 34.1px;
    height: 34.1px;
    border-radius: 15.686000000000002px / 15.686000000000002px;
    transform-origin: 17.05px 75.95px;
  }.ldio-chj0s5swqsk div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.084010840108401s;
    background: #165262;
  }.ldio-chj0s5swqsk div:nth-child(2) {
    transform: rotate(40deg);
    animation-delay: -0.9485094850948509s;
    background: #165262;
  }.ldio-chj0s5swqsk div:nth-child(3) {
    transform: rotate(80deg);
    animation-delay: -0.8130081300813007s;
    background: #165262;
  }.ldio-chj0s5swqsk div:nth-child(4) {
    transform: rotate(120deg);
    animation-delay: -0.6775067750677506s;
    background: #165262;
  }.ldio-chj0s5swqsk div:nth-child(5) {
    transform: rotate(160deg);
    animation-delay: -0.5420054200542005s;
    background: #165262;
  }.ldio-chj0s5swqsk div:nth-child(6) {
    transform: rotate(200deg);
    animation-delay: -0.40650406504065034s;
    background: #165262;
  }.ldio-chj0s5swqsk div:nth-child(7) {
    transform: rotate(240deg);
    animation-delay: -0.27100271002710025s;
    background: #165262;
  }.ldio-chj0s5swqsk div:nth-child(8) {
    transform: rotate(280deg);
    animation-delay: -0.13550135501355012s;
    background: #165262;
  }.ldio-chj0s5swqsk div:nth-child(9) {
    transform: rotate(320deg);
    animation-delay: 0s;
    background: #165262;
  }
  .loadingio-spinner-spinner-ty14cgoiuh {
      margin: 0 auto;
      width: 250px;
      height: 212px;
    //   display: inline-block;
      overflow: hidden;
      // background: #f1f2f3;
    }
    .ldio-chj0s5swqsk {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-chj0s5swqsk div { box-sizing: content-box; }